[Unit]
Description=Linux process monitor for debugging
RequiresMountsFor=/opt

[Service]
# Track processes for 3 minutes, then save results in /opt
ExecStart=/usr/bin/ProcessMonitor --duration 180 --output /opt/processMonitorResults.js

[Install]
WantedBy=multi-user.target